@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 207 100% 21%;
    --card: 0 0% 100%;
    --card-foreground: 207 100% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 207 100% 21%;
    --primary: 198 68% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 207 40% 95%;
    --secondary-foreground: 207 100% 21%;
    --muted: 207 30% 96%;
    --muted-foreground: 207 30% 46%;
    --accent: 207 40% 95%;
    --accent-foreground: 207 100% 21%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 207 30% 91%;
    --input: 207 30% 91%;
    --ring: 198 68% 54%;
    --radius: 0.5rem;
  }
}

.dark {
  --background: 204 77% 19%;
  --foreground: 210 40% 98%;
  --card: 203 81% 23%;
  --card-foreground: 210 40% 98%;
  --popover: 203 81% 23%;
  --popover-foreground: 210 40% 98%;
  --primary: 198 68% 54%;
  --primary-foreground: 0 0% 100%;
  --secondary: 207 73% 35%;
  --secondary-foreground: 210 40% 98%;
  --muted: 203 81% 23%;
  --muted-foreground: 207 30% 65%;
  --accent: 207 73% 35%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 50.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 204 50% 28%;
  --input: 204 50% 28%;
  --ring: 191 100% 68%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
